<!DOCTYPE html>
<html lang="en" class="full-body">

<head>
    <%- include('./partials/headlinks.ejs') %>
</head>

<body>
    <%- include('./partials/header') %>
    <main id="main-form">
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <form action="/profile/me/password" method="POST">
                    <h2>Edit Info</h2>
                    <div class="form-information" id="edit-password" autocomplete="off">
                        <label for="user-answer"><b> Security Question</b></label>
                        <% if(details.securityQuestion = 1) { %>
                            <p style="color: white">Name of your first pet?</p>
                        <% } else if (details.securityQuestion = 2) { %>
                            <p style="color: white">Name of your first teacher?</p>
                        <% } else if (details.securityQuestion = 3) { %>
                            <p style="color: white">Name of your childhood best friend?</p>
                        <% } %>
                        <label for="user-answer"><b>Answer</b></label>
                        <input type="text" id="user-answer" name="answer" placeholder="Answer">
                        <label for="user-password"><b>New Password</b></label>
                        <input type="password" id="user-password" name="password">
                        <button class="button full-width" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>