<!DOCTYPE html>
<html lang="en" class="full-body">

<head>
    <%- include('./partials/headlinks.ejs') %>
</head>

<body>
    <%- include('./partials/headernouser') %>
    <main id="main-form">
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <form action="/login/forgotpassword/update" method="POST">
                    <h2>Forgot Password</h2>
                    <div class="form-information" id="forgot-password" autocomplete="off">
                        <label for="user-username"><b>Username</b></label>
                        <input type="text" id="user-username" name="username" placeholder="Username">
                        <label for="user-question"><b>Security Question</b></label>
                        <select name="question" id="user-question" class="full-width">
                            <option value="1">Name of your first pet?</option>
                            <option value="2">Name of your first teacher?</option>
                            <option value="3">Name of your childhood best friend?</option>
                        </select>
                        <label for="user-answer"><b>Answer</b></label>
                        <input type="text" id="user-answer" name="answer" placeholder="Answer">
                        <label for="user-password"><b>New Password</b></label>
                        <input type="password" id="user-password" name="password">
                        <button class="button full-width" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>