<!DOCTYPE html>
<html class="full-body">
    <head>
      <%- include('./partials/headlinks.ejs') %>
      <link rel="stylesheet" href="/stylesheets/index.css">
    </head>
    <body>
        <main class="content-wrapper-home">
            <section class="titles-wrapper-home">
                <img src="/images/logo.png" alt="Z-Book">
                <h2>Social Media your way</h2>
            </section>
            <section class="buttons-wrapper-home">
                <h1>Start Here</h1>
                <div class="buttons-container-home">
                    <a href="/login" class="button-home">Login</a>
                    <a href="/register" class="button-home">Register</a>
                </div>
            </section>
        </main>
    <%- include('./partials/footer') %>
  </body>
</html>
