<!DOCTYPE html>
<html>
    <head>
      <%- include('./partials/headlinks.ejs') %>
    </head>
      
    <body>
      <%- include('./partials/header') %>
      
      
      <%- include('./partials/footer') %>
    </body>
</html>
