<!DOCTYPE html>
<html lang="en">
   <head>
        <%- include('./partials/headlinks.ejs') %> 
   </head>
   <body>
      <%- include('./partials/header') %>
      <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form action="">
                    <h2>Login</h2>
                    <div class="form-information" id="login">
                        <label><b>Username</b></label>    
                        <input type="text" placeholder="Enter Username" id="login-user" name="username">
                        <label><b>Password</b></label>    
                        <input type="password" placeholder="Enter Password" id="login-psw" name="psw">
                        <button class="button" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
      </main>
      <%- include('./partials/footer') %> 
    </body>
</html>