<!DOCTYPE html>
<html lang="en" class="full-body">
   <head>
        <%- include('./partials/headlinks.ejs') %> 
   </head>
   <body>
      <%- include('./partials/headernouser') %>
      <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center uk-flex-column">
                <h2>Login</h2>
                <form action="/login" method="POST">
                    <div class="form-information" id="login">
                        <label for="login-user"><b>Username</b></label>    
                        <input type="text" placeholder="Enter Username" id="login-user" name="username">
                        <label for="login-psw"><b>Password</b></label>    
                        <input type="password" placeholder="Enter Password" id="login-psw" name="psw">
                        <input type="checkbox" name="rememberme">
                        Remember Me
                        <button class="button full-width" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
      </main>
      <%- include('./partials/footer') %> 
    </body>
</html>