<!DOCTYPE html>
<html lang="en" class="full-body">

<head>
    <%- include('./partials/headlinks.ejs') %>
</head>

<body>
    <%- include('./partials/header') %>
    <main class="reg-errors">
        <h1>There were some errors in your password change form:</h1>
        <ul>
            <% errores.forEach(element => { %>
            <li class="errors"><%= element %></li>
            <% }) %>
        </ul>
        <a href="/profile/me/password">
            <button>Back to Password Change</button>
        </a>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>