<!DOCTYPE html>
<html lang="en" class="full-body">
<head>
    <%- include('./partials/headlinks.ejs') %>
</head>
    
<body>
    <%- include('./partials/header') %>
    <main id="main-form">
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <form action="/post" method="POST">
                    <h2>Add Post</h2>
                    <div class="form-information" id="post">
                        <label for="post-caption"><b>Caption</b></label>    
                        <input type="text" placeholder="Add Caption" id="post-caption" name="caption">
                        <label for="post-url"><b>Image</b></label>
                        <input type="text" placeholder="Enter Image ID" id="post-url" name="url">
                        <!-- <select id="post-url" name="url">
                            <option value="1-1">Juan Martin</option>
                            <option value="2-1">Jim</option>
                            <option value="3-1">Matías</option>
                            <option value="4-1">Madison</option>
                            <option value="5-1">Cristiano</option>
                            <option value="6-1">Pepson</option>
                            <option value="7-1">Boca</option>
                            <option value="8-1">Nicky</option>
                            <option value="9-1">Felicitas</option>
                            <option value="10-1">FakeHachi</option>
                        </select> -->
                        <button class="button full-width" type="submit">Post</button>
                    </div>
                </form>

            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>