<!DOCTYPE html>
<html lang="en" class="full-body">
<head>
    <%- include('./partials/headlinks.ejs') %>
</head>
    
<body>
    <%- include('./partials/header') %>
    <main id="main-form">
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <form action="">
                    <h2>Add Post</h2>
                    <div class="form-information" id="post">
                        <label for="post-caption"><b>Caption</b></label>    
                        <input type="text" placeholder="Add Caption" id="post-caption" name="caption">
                        <label for="post-url"><b>Image Link</b></label>    
                        <input type="text" placeholder="Enter URL" id="post-url" name="url">
                        <button class="button full-width" type="submit">Post</button>
                    </div>
                </form>

            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>