<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/headlinks.ejs') %>
</head>
    
<body>
    <%- include('./partials/header') %>
    
    
    <%- include('./partials/footer') %>
</body>
</html>