<!DOCTYPE html>
<html lang="en" class="full-body">
<head>
    <%- include('./partials/headlinks.ejs') %>
</head> 
<body>
    <%- include('./partials/headernouser') %>
    <main id="main-form">
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center uk-flex-column">
                <h2>Registration</h2>
                <form action="/login">
                    <div class="form-information">
                        <label for="reg-user"><b>Username</b></label>    
                        <input type="text" placeholder="Enter Username" id="reg-user" name="username">    
                        <label for="reg-email"><b>Email</b></label>    
                        <input type="email" placeholder="Enter Email" id="reg-email" name="email">
                        <label for="reg-psw"><b>Password</b></label>    
                        <input type="password" placeholder="Enter Password" id="reg-psw" name="psw">
                        <label for="reg-pswconfirm"><b>Confirm Password</b></label>    
                        <input type="password" placeholder="Confirm Password" id="reg-pswconfirm" name="pswconfirm">
                        <label for="reg-birthday"><b>Birthday</b></label>    
                        <input type="date" placeholder="Birthday" id="reg-birthday" name="birthday" class="full-width">
                        <button class="button full-width" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>