<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/headlinks.ejs') %>
</head> 
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form action="">
                    
                    <h2>(Formulario de registración)</h2>
            
                </form>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>