<footer class="uk-position-bottom uk-position-fixed uk-background-primary uk-flex uk-flex-between uk-flex-middle">
    <ul class="uk-width-1-6 uk-flex uk-flex-middle uk-flex-around uk-height-1-1 uk-margin-remove uk-padding-remove">
        <li><a href="" uk-icon="instagram"></a></li>
        <li><a href="" uk-icon="facebook"></a></li>
        <li><a href="" uk-icon="twitter"></a></li>
    </ul>
    <ul class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-between uk-height-1-1 uk-margin-remove uk-padding-remove">
        <li>Matías Ayerza</li>
        <li>Juan Martin Lucioni</li>
        <li>Jim Rattagan</li>
    </ul>
</footer>