<header class="header">
    <a class='logo' href='/'>
        <img src='/images/logo1.png' alt="">
    </a>
    <nav>
        <ul class='nav_links'>
            <li><a href='/login'>Login</a></li>
            <li><a href='/register'>Register</a></li>
        </ul>
    </nav>

</header>