<header class="header">
             <a class='logo' href='/feed'>
                 <img src='/images/logo1.png' alt="">
             </a>
             <div class='searchbox'>
                 <div class='searchbar-wrap'>
                     <form name='search-form' action='/search' method='GET' id='search-form'>
                         <input type='text' name='search' value='' class='searchbar' id='searchbar'>
                     </form>
                 </div>
                 <label for='searchbar'><i class='fas fa-search' id='search-trigger'></i></label>
             </div>
             <nav>
                 <ul class='nav_links'>
                     <li><a href='/feed'>Home</a></li>
                     <li><a href=''>Explore</a></li>
                 </ul>
             </nav>
             <a class='CTA' href='/profile/<%= user.id %>' >
                 <button type='button' id='nav-button' class='login-button'>Profile</button>
             </a>
            <form action="/login/out" method="POST">
             <button type='submit' id='nav-button' class='login-button'>Log Out</button>
            </form>
           
</header>
  <div class="postAdd">
      <a class="add" href="/post"><img src="/images/createbuttonsm.png" alt="Create a Post"></a>
  </div>
