<header class="uk-background-primary">
    <section class=" uk-container uk-container-large">
        <div class="">
            <nav class="" uk-navbar>
                <div class="uk-navbar-left">
                    <h2 class="logo"><a href="/feed">Z-Book</a></h2>
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li><a href="/feed">Home</a></li>
                        <li><a href="/post">Post</a></li>
                        <li><a href="/profile/1">Profile</a></li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li>
                            <form action="" class="uk-search uk-search-default">
                                <span uk-search-icon></span>
                                <input type="search" class="uk-search-input" placeholder="Buscar...">
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
</header>