.profile-container {
    background-color: white;
    padding-left: 0;
    padding-right: 0;
}

section.info-usuario {
    background-color: black;
    height: 120px;
}

.profile-img-container {
    max-width: 150px;
}

section.info-usuario div {
    color: white;
}

.follow-button {
    background-color: rgba(0, 136, 169, 1);
}

.follow-button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

section.info-usuario h3 {
    color: white;
}

p.post-desc {
    color: black;    
}

link-detalle:hover * {
    text-decoration: none;
}