body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #191930;
}

a {
  color: #00B7FF;
}

*{
    box-sizing: border-box;
}
main{
    margin-bottom: 0px;
}

ul {
  list-style-type: none;
}